table {
    width: 100%;
    text-align: center;
    -ms-flex-align: baseline;
    padding: 5px
  }

  th.mat-sort-header-sorted {
    color: black;
    align-content: center;
  }

  .mat-column-Nome {
      text-align: center;
      padding: 30px;
      margin: 10em;
  }

  .mat-column-Comissao {
      text-align: center;
      padding: 30px;
      margin: 10em;
  }

  .mat-column-Flag {
      text-align: center;
      padding: 30px;
      margin: 10em;
  }